<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myfirstapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ui.application.RipleyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode,UnusedAttribute"
        tools:replace="allowBackup">
        <activity android:name=".ui.activity.seguridad.FirmaActivity"></activity>
        <activity android:name=".ui.activity.seguridad.ValidationActivity" />
        <activity android:name=".ui.activity.seguridad.DetailShopActivity" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.OnBoardingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.ScanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.LocationStoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.ShoppingCartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.CuponScanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.checkout.CheckOutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.checkout.PersonalInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />
        <activity
            android:name=".ui.activity.datacard.ErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.datacard.DataCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.seguridad.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />
        <activity
            android:name=".ui.activity.seguridad.WelcomeSeguridadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:targetApi="n" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>